@charset "ISO-8859-1";

.btnMovimientos{
	height: 50px;
  	width: 110px;
  	margin-right: 10px;
  	margin-left: 10px;
  	display: block;
  	padding: 0px 20px 0px 10px;
  	border-style: solid;
  	background: linear-gradient(120deg,#74D3F9,#002661);
  	background-size: 200%;
  	color: #fff;
  	outline: none;
  	cursor: pointer;
  	transition: .5s;
  	border-radius: 12px;
  	font-weight: bold;
}