@charset "ISO-8859-1";


.containerTabla{
	display: flex;
	display: -webkit-flex; 
	display: -ms-flexbox;
	margin-left: 8px; 
	margin-top: 50px; 
	margin-right: 10px; 
	width: inherit;
	align-items: center;
	background: #FFF;
	border-radius: 10px;
}

#tabla {
	background: #5469d5;
	color: white;
	border-style: hidden;
	border-radius: 10px;
	text-align: center;	
}

#tablaCuentas {
	background: linear-gradient(175deg,#33B5FF,#002661);
	color: white;
	border-style: hidden;
	border-radius: 10px;
	text-align: center;	
}

table.dataTable tbody td {
    vertical-align: middle;
}

table.dataTable thead th {
    vertical-align: middle;
    font-weight: 600;
}